.teko-h1 {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.teko-button {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.teko-nav {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-size: x-large;
  font-weight: 300;
  font-style: normal;
}

.teko-heading {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
}
.teko-p {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
}
